<div>
  <p class="title">Register</p>

  <form class="container" [formGroup]="registerFormGroup">
    <mat-form-field class="input" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="username" type="text" />
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>
    <mat-form-field class="input" appearance="fill">
      <mat-label>email</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="register()">
      Register
    </button>
  </form>
</div>
