<div class="container">
  <form class="container" [formGroup]="orderFormGroup">
    <mat-form-field class="orderInput" appearance="fill">
      <mat-label>Order Type</mat-label>
      <input matInput formControlName="order_type" type="text" />
    </mat-form-field>

    <mat-form-field class="orderInput" appearance="fill">
      <mat-label>Name of order</mat-label>
      <input matInput formControlName="name" type="text" />
    </mat-form-field>

    <mat-form-field class="orderInput" appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput formControlName="desc" type="text" />
    </mat-form-field>

    <mat-form-field class="orderInput" appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price" type="number" />
    </mat-form-field>

    <button class="orderInput" (click)="addOrder()">Create</button>
  </form>
</div>
